In [8]:
import pandas as pd

df = pd.read_csv(r'Data\ChicagoCrimeData.csv')
df.head(10)

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,2004-08-28,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,9,14.0,58.0,6,1155838.0,1873050.0,2004,41.807440,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,11,27.0,23.0,6,1152206.0,1906127.0,2004,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,2011-04-04,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,2,3.0,38.0,6,1177436.0,1876313.0,2011,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,2010-12-30,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,4,7.0,46.0,6,1194622.0,1850125.0,2010,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,2016-02-02,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,8,15.0,66.0,6,1155240.0,1860661.0,2016,41.773455,-87.706480,"(41.773455295, -87.706480471)"
5,7732712,HS540106,2010-09-29,006XX W CHICAGO AVE,810,THEFT,OVER $500,PARKING LOT/GARAGE(NON.RESID.),False,False,...,12,27.0,24.0,6,1171668.0,1905607.0,2010,41.896447,-87.644939,"(41.896446772, -87.644938678)"
6,10769475,HZ534771,2016-11-30,050XX N KEDZIE AVE,810,THEFT,OVER $500,STREET,False,False,...,17,33.0,14.0,6,1154133.0,1933314.0,2016,41.972845,-87.708600,"(41.972844913, -87.708600079)"
7,4494340,HL793243,2005-12-16,005XX E PERSHING RD,860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,True,False,...,2,3.0,38.0,6,1180448.0,1879234.0,2005,41.823880,-87.613504,"(41.823879885, -87.613503857)"
8,3778925,HL149610,2005-01-28,100XX S WASHTENAW AVE,810,THEFT,OVER $500,STREET,False,False,...,22,19.0,72.0,6,1160129.0,1838040.0,2005,41.711281,-87.689179,"(41.711280513, -87.689179097)"
9,3324217,HK361551,2004-05-13,033XX W BELMONT AVE,820,THEFT,$500 AND UNDER,SMALL RETAIL STORE,False,False,...,17,35.0,21.0,6,1153590.0,1921084.0,2004,41.939296,-87.710923,"(41.939295821, -87.710923442)"

In [6]:
df['ARREST'].value_counts()

ARREST
False    370
True     163
Name: count, dtype: int64

In [9]:
df['PRIMARY_TYPE'].value_counts()

PRIMARY_TYPE
THEFT                                106
BATTERY                               92
CRIMINAL DAMAGE                       58
NARCOTICS                             54
OTHER OFFENSE                         32
ASSAULT                               32
BURGLARY                              30
MOTOR VEHICLE THEFT                   24
DECEPTIVE PRACTICE                    20
ROBBERY                               20
CRIMINAL TRESPASS                     15
PROSTITUTION                           6
WEAPONS VIOLATION                      6
PUBLIC PEACE VIOLATION                 5
OFFENSE INVOLVING CHILDREN             4
CRIM SEXUAL ASSAULT                    3
SEX OFFENSE                            3
INTERFERENCE WITH PUBLIC OFFICER       2
GAMBLING                               2
LIQUOR LAW VIOLATION                   2
ARSON                                  2
HOMICIDE                               2
KIDNAPPING                             1
INTIMIDATION                           1
STALKING                               1
OBSCENITY                              1
CONCEALED CARRY LICENSE VIOLATION      1
PUBLIC INDECENCY                       1
NON-CRIMINAL                           1
OTHER NARCOTIC VIOLATION               1
HUMAN TRAFFICKING                      1
NON - CRIMINAL                         1
RITUALISM                              1
NON-CRIMINAL (SUBJECT SPECIFIED)       1
DOMESTIC VIOLENCE                      1
Name: count, dtype: int64

In [ ]:
primary_type_counts = df['PRIMARY_TYPE'].value_counts()

valid_types = primary_type_counts[primary_type_counts >= 4].index

print(valid_types)


df = df[ df['PRIMARY_TYPE'].isin(valid_types)]

df

Index(['THEFT', 'BATTERY', 'CRIMINAL DAMAGE', 'NARCOTICS', 'OTHER OFFENSE',
       'ASSAULT', 'BURGLARY', 'MOTOR VEHICLE THEFT', 'DECEPTIVE PRACTICE',
       'ROBBERY', 'CRIMINAL TRESPASS', 'PROSTITUTION', 'WEAPONS VIOLATION',
       'PUBLIC PEACE VIOLATION', 'OFFENSE INVOLVING CHILDREN'],
      dtype='object', name='PRIMARY_TYPE')

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,2004-08-28,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,9,14.0,58.0,6,1155838.0,1873050.0,2004,41.807440,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,11,27.0,23.0,6,1152206.0,1906127.0,2004,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,2011-04-04,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,2,3.0,38.0,6,1177436.0,1876313.0,2011,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,2010-12-30,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,4,7.0,46.0,6,1194622.0,1850125.0,2010,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,2016-02-02,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,8,15.0,66.0,6,1155240.0,1860661.0,2016,41.773455,-87.706480,"(41.773455295, -87.706480471)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,1806896,G635735,2001-10-22,0000X N HERMITAGE AV,2850,PUBLIC PEACE VIOLATION,BOMB THREAT,"SCHOOL, PUBLIC, BUILDING",True,False,...,12,NaN,NaN,26,1164687.0,1900646.0,2001,41.882984,-87.670719,"(41.882984246, -87.670719218)"
500,5766654,HN567387,2007-09-02,026XX W BELMONT AVE,1754,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,CHURCH/SYNAGOGUE/PLACE OF WORSHIP,False,False,...,14,1.0,21.0,2,1158166.0,1921161.0,2007,41.939415,-87.694103,"(41.939414712, -87.694103222)"
501,6986273,HR391350,2009-06-23,015XX S KOLIN AVE,1753,OFFENSE INVOLVING CHILDREN,SEX ASSLT OF CHILD BY FAM MBR,APARTMENT,False,True,...,10,24.0,29.0,2,1147638.0,1892092.0,2009,41.859855,-87.733544,"(41.859855212, -87.733543816)"
502,5176248,HM768251,2006-12-11,076XX S CAMPBELL AVE,1751,OFFENSE INVOLVING CHILDREN,CRIM SEX ABUSE BY FAM MEMBER,RESIDENCE,True,False,...,8,18.0,70.0,20,1161039.0,1853860.0,2006,41.754674,-87.685410,"(41.754674405, -87.685410299)"
503,8159639,HT394616,2011-07-01,077XX S SOUTH SHORE DR,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,False,...,4,7.0,43.0,20,1197175.0,1854844.0,2011,41.756551,-87.552952,"(41.756551463, -87.552951751)"

In [11]:
df.shape

(504, 21)

In [7]:
df.columns

Index(['ID', 'CASE_NUMBER', 'DATE', 'BLOCK', 'IUCR', 'PRIMARY_TYPE',
       'DESCRIPTION', 'LOCATION_DESCRIPTION', 'ARREST', 'DOMESTIC', 'BEAT',
       'DISTRICT', 'WARD', 'COMMUNITY_AREA_NUMBER', 'FBICODE', 'X_COORDINATE',
       'Y_COORDINATE', 'YEAR', 'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [ ]:
df['ARREST']

0      False
1      False
2      False
3      False
4      False
       ...
499     True
500    False
501    False
502     True
503    False
Name: ARREST, Length: 504, dtype: bool

In [13]:
df['PRIMARY_TYPE']

0                           THEFT
1                           THEFT
2                           THEFT
3                           THEFT
4                           THEFT
                  ...
499        PUBLIC PEACE VIOLATION
500    OFFENSE INVOLVING CHILDREN
501    OFFENSE INVOLVING CHILDREN
502    OFFENSE INVOLVING CHILDREN
503    OFFENSE INVOLVING CHILDREN
Name: PRIMARY_TYPE, Length: 504, dtype: object

In [14]:
list(df['PRIMARY_TYPE'].unique())

['THEFT',
 'BATTERY',
 'CRIMINAL DAMAGE',
 'NARCOTICS',
 'OTHER OFFENSE',
 'ASSAULT',
 'BURGLARY',
 'MOTOR VEHICLE THEFT',
 'DECEPTIVE PRACTICE',
 'ROBBERY',
 'CRIMINAL TRESPASS',
 'PROSTITUTION',
 'WEAPONS VIOLATION',
 'PUBLIC PEACE VIOLATION',
 'OFFENSE INVOLVING CHILDREN']

In [21]:

for crime_type in df['PRIMARY_TYPE'].unique():
    
    
    df2 =  df[df['PRIMARY_TYPE'] == crime_type]
    val_cts = df2['ARREST'].value_counts()
    
    print('===',crime_type,'===')
    print(val_cts)
    
    print('\n'*2)

=== THEFT ===
ARREST
False    91
True     15
Name: count, dtype: int64



=== BATTERY ===
ARREST
False    72
True     20
Name: count, dtype: int64



=== CRIMINAL DAMAGE ===
ARREST
False    52
True      6
Name: count, dtype: int64



=== NARCOTICS ===
ARREST
True     53
False     1
Name: count, dtype: int64



=== OTHER OFFENSE ===
ARREST
False    25
True      7
Name: count, dtype: int64



=== ASSAULT ===
ARREST
False    23
True      9
Name: count, dtype: int64



=== BURGLARY ===
ARREST
False    29
True      1
Name: count, dtype: int64



=== MOTOR VEHICLE THEFT ===
ARREST
False    23
True      1
Name: count, dtype: int64



=== DECEPTIVE PRACTICE ===
ARREST
False    14
True      6
Name: count, dtype: int64



=== ROBBERY ===
ARREST
False    17
True      3
Name: count, dtype: int64



=== CRIMINAL TRESPASS ===
ARREST
True     13
False     2
Name: count, dtype: int64



=== PROSTITUTION ===
ARREST
True    6
Name: count, dtype: int64



=== WEAPONS VIOLATION ===
ARREST
True     5
False    1
Name: count, dtype: int64



=== PUBLIC PEACE VIOLATION ===
ARREST
True     3
False    2
Name: count, dtype: int64



=== OFFENSE INVOLVING CHILDREN ===
ARREST
False    3
True     1
Name: count, dtype: int64

In [ ]:


df = pd.read_csv(r'Data\ChicagoCrimeData.csv')  # FROM 
df= df[df['COMMUNITY_AREA_NUMBER'] != 49] # WHERE 'COMMUNITY_AREA_NUMBER' != 49 
crime_counts = df.groupby(['PRIMARY_TYPE','ARREST','DOMESTIC']).size().reset_index(name='counts') # GROUPBY
crime_counts= crime_counts[crime_counts['PRIMARY_TYPE'] == 'THEFT'] # HAVING 'PRIMARY_TYPE' = 'THEFT'

crime_counts

         PRIMARY_TYPE  ARREST  DOMESTIC  counts
0               ARSON   False     False       2
1             ASSAULT   False     False      18
2             ASSAULT   False      True       5
3             ASSAULT    True     False       5
4             ASSAULT    True      True       4
..                ...     ...       ...     ...
59              THEFT   False     False      89
60              THEFT   False      True       2
61              THEFT    True     False      15
62  WEAPONS VIOLATION   False     False       1
63  WEAPONS VIOLATION    True     False       5

[64 rows x 4 columns]